<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Let's Get Technical!</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <h1>
      Let's Get Technical!
    </h1>
    <h2>
        A blog about all things tech related
    </h2>
    <nav>
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
       <a href="/login">Login</a>
        <a href="#" id="logout">Logout</a>
    </nav>
  </header>


  <main>
<h2>Your Dashboard</h2>

    {{{ body }}}
  </main>

<div>
    <a href="/dashboard/new">
        <button>+ Create Post</button>
    </a>
</div>

<script src="/js/logout.js"></script>