<div>
    <div>
        <h2>Login</h2>
    </div>
    <form>
        <div>
            <labeL for="username-input-login">Username</labeL>
            <input id="username-input-login"type="text"/>
        </div>
        <div>
            <label for="password-input-login">Password</label>
            <input id="password-input-login" type="password"/>
        </div>
        <button type="submit">Login!</button>
        <a type="button" href="/signup">Sign up instead</a>
    </form>
</div>