<div>
    <div>
        <h2>Login</h2>
    </div>
    <form>
        <div>
            <labeL for="username-input-login">Username</labeL>
            <input type="text"/>
        </div>
        <div>
            <label for="password-input-login">Password</label>
            <input type="password"/>
        </div>
        <button type="submit">Login!</button>
        <a type="button" href="/signup">Sign un instead</a>
    </form>
</div>