<h2>Your Dashboard</h2>

<div>
    <a href="/create/">
        <button>+ Create Post</button>
    </a>
</div>

<div>
    <h3>Your Posts</h3>
    {{#if posts.length}}
        {{#each posts as |post|}}
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}">
                <button class="button mb-5 ml-5">Edit Post</button>
            </a>
        {{/each}}
    {{/if}}

    {{else}}
        <h3class="pb-4 has-text-centered">You do not currently have any posts</h3>
    {{/else}}
</div>