<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Let's Get Technical!</title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <header>
    <h1>
      Let's Get Technical!
    </h1>
    <h2>
        A blog about all things tech related
    </h2>
    {{#if logged_in}}
    <nav>
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/create/">Create Post</a>
        <a href="#">Logout</a>
    </nav>
    {{/if}}
    {{#else logged_out}}
    <nav>
        <a href="/">Home</a>
        <input type="text" placeholder="Username">
        <input type="text" placeholder="Password">
        <button >Login</button>
    </nav>
    {{/else}}
  </header>

  <main>
    {{{ body }}}
  </main>

  <footer>
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
   {{#if logged_out}}
  <script src="/js/login.js"></script>
  {{/if}}
</body>

</html>
